<% layout("/layouts/boilerplate") %>
<link rel="stylesheet" href="/edit.css">

<div class="post-wrapper">
    <form class="post-form" method="POST" action="/posts/<%= post._id %>?_method=PATCH">   
        
        <p class="w-100 text-center"> 
            <textarea class="user" name="username"><%= post.username %></textarea> 
        </p>
        
        <textarea rows="10" cols="35" name="description" id="text-type"><%= post.description %></textarea>
        
        <button class="sub">Submit</button>
    </form>
</div>