<% layout("/layouts/boilerplate") %>
<link rel="stylesheet" href="/new.css">

<div class="post-wrapper">
    <form class="post-form" method="POST" action="/posts" enctype="multipart/form-data">
        
        <input class="username-input" type="text" name="username" placeholder="Enter Username" required>
        
        <div class="file-upload-wrapper">
            <input type="file" name="imageFile" id="file-input">
        </div>
        
        <textarea class="description-input" name="description" placeholder="Enter About your content"></textarea>
        
        <button class="btns">Post</button>
    </form>
</div>